.body {
    background-color: rgb(174,237,142);
    overflow-y: auto;
    height: 100%;
    margin: 0;
}
.header {
    color: black;
    background-color: rgb(237,209,142);
    width: 100%;
    height: 100px;
    padding: 10px 0;
    border-radius: 0px;
    text-align: center;
    vertical-align: top;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    box-sizing: border-box;
}
.instructions {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    background-color: rgb(250, 70, 85);
}

/* Capture button styling */
.photo {
    display:block;
    margin: 100px auto;
    padding: 35px 30px;
    background-color: rgb(237,209,142);
    color: black;
    border: none;
    border-radius: 100px;
    font-size: 15px;
    text-wrap-style:pretty;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

photo:hover {
    background-color: rgb(220, 190, 120);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

photo:active {
    transform: scale(0.98);
}
